@media (max-width: 768px) {
    .upload-container {
        flex-direction: column;
        gap: 16px;
    }

    .upload-card {
        margin: 0;
    }

    .legal-container {
        background: #fff4d9;
        border: 0px;
    }

    body {
        background-color: #fff4d9;
    }
}

@media (max-width: 480px) {

    /* Target the BMC popup iframe and container */
    #bmc-container,
    iframe[src*="buymeacoffee.com"],
    div[id^="bmc-"] {
        /* Prevent horizontal screen overflowing */
        max-width: 85vw !important;
        transform: scale(0.9) !important;
    }
}